*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    color: #ededed;
    background: #081b29;
}
                                                              /* HEADER PART_! */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #051129;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a{
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 33px;
    transition: .3s;
    opacity: 0;
    animation: slideleft .5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}
.navbar a:hover{
    color: #0ef;
}
                                                                 /* HOMR PART_2 */
.Home{
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background-color:#081b29;
  display: flex;
  align-items: center;
  padding-left: 80px;
  
  padding-right: 50px;
  /* padding: 70% 10% 0; */
}
.Home-content{
    gap: 2rem;
    /* margin-top: 80px; */
   margin: 3rem;
   max-width: 500px;
   margin-top: 10rem;
}
.Home-content h3{
    font-size: 26px;
    font-weight: 600;
    opacity: 0;
    animation: slidebottom 1s ease forwards;
    animation-delay: .7s;
}
.Home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slidleft is ease forwards;
    animation-delay: .7s;
}
.Home-content h1{
    font-size: 41px;
    font-weight: 600;
    margin: 5px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.Home-content p{
  font-size: 20px;
  margin-top: 1rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sec a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 144%;
    color: #0ef;
    text-decoration: none;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.25*var(--i));
    margin: 30px 15px 30px 0;
}
.home-sec a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
                                
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideleft 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 05px #0ef,
    0 0 25px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
     0 0 25px cyan,
      0 0 50px cyan,
      0 0 100px cyan,
       0 0 200px cyan;
}
.image{
   margin-right: 90px;
   margin-top: 3rem;
   box-shadow: #0ef;

}
.image img{
     border-radius: 260px;
     /* rotate: -20deg; */
     background-color: rgb(20, 7, 73);
     padding: 0.7rem;
     border: 5px solid rgb(170, 241, 241);
     box-shadow: 2px -7px 100px cyan;
}
.developer{
    color: #0ef;
}
                                                                      /* ABOUT pART_3 */

.About{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 7%; */
    align-items: center;
     margin-left: 6rem;
     margin-right: 5rem;
    gap: 1.5rem;
    
}
#image img{
    max-width: 630px;
    height: auto;
    /* padding-bottom: 20%; */
    /* width: 100%;
     */

}
.about-text h2{
     font-size: 50px;
}
.about-text h2 span{
    color: cyan;
}
.about-text h4{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    
}
.about-text p{
    color: aliceblue;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.container{
    padding: 90px;
}
                                                                      /* SERIVES PART_4 */
#serives{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem
}
.sun-title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
   
}
.sub-title span{
    color: #0ef;
}
.serives-list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    margin-top: 50px;

}
.serives-list div{
   background-color: transparent;
   padding: 45px;
   font-size: 13px;
   font-weight: 13px;
   border-right: 10px;
   border-radius: 20px;
   transition: background 0.5s, transform 0.5s;
   box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.serives-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.serives-list div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
.serives-list div a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideleft  1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.read:hover{
    background: #0ef;
    color: #081b29;
}


.serives-list div:hover{
    transform: translateY(-10px);
}


section{
    display: flex;
    flex-wrap: wrap;
}
                                                                /* MY SKILLS PART_5                                                              */
.progress{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.container1{
     width: 600px;
     height: 500px; 
     /* padding: 10% 2px;  */
     /* margin-left: 100px; */
     /* margin-bottom: 30px; */
     position: relative;
     bottom: 35px;
}
.container2{
    width: 600px;
    height: 500px; 
    /* padding: 10% 2px;  */
    margin-top: 15%;
}
.heading1{
   text-align: center;
   text-decoration: underline;
   text-underline-offset: 10px;
   text-decoration-thickness: 5px;
   margin-bottom: 60px;
}
.heading2{
    position: relative;
    bottom: 140px;
    right: 50px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    /* margin-bottom: 50px; */
 }
.bar{
    font-size: 35px;
}
.Technical-bars{
    margin-bottom: 30px;
}
.Technical-bars .bar{
     margin-left: 30px;
    

}
.Technical-bars .bar:first-child{
    margin-top:  0;
    
}
.Technical-bars .bar:last-child{
    margin-top:  0;
    
}
.Technical-bars .bar .info{
    margin-bottom: 17px;
}
.Technical-bars .bar .info i{
   font-size: 40px;
  position: relative;
  top: 9px;
}
.Technical-bars .bar .info span{
   font-size: 25px;
   font-weight: 400;
   animation: showText 0.5s 1s linear forwards;
   opacity: 0;
    
}
/* .Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: silde 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes silde {
    100%{
        transform: scaleX(1);
    }
} 
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation:  silde 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
*/

.Technical-bars .bar .progress-line {
    position: relative;
    bottom: 15px;
    border-radius: 10px;
    width: 100%;
    height: 9px;
    background-color: #000000;
    overflow: hidden;
    /* animation: slide 1s cubic-bezier(1,0,0,5) forwards;
    transform: scaleX(0);
    transform-origin: left; */
    /* background-color: #0ef; */
}



.Technical-bars .bar .progress-line .html {
    height: 100%;
    width: 50%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: slide 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.Technical-bars .bar .progress-line .html {
    height: 100%;
    width: 90%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: slide 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.Technical-bars .bar .progress-line .css {
    height: 100%;
    width: 70%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: slide 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.Technical-bars .bar .progress-line .Javascript {
    height: 100%;
    width: 80%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: slide 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.Technical-bars .bar .progress-line .React {
    height: 100%;
    width: 60%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: slide 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.Technical-bars .bar .progress-line .Node-js {
    height: 100%;
    width: 40%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: slide 1s linear forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes slide {
    100% {
       transform: scaleX(1);
        
    }
}

 .progress-line span #html {
    width: 70%;
    
}

.progress-line .css span {
    width: 60%;
}

.progress-line .Javascript span {
    width: 85%;
}

.progress-line .React span {
    width: 50%;
}

.progress-line .Node-js span {
    width: 75%;
}

.progress-line span::after{
   position: absolute;
   padding: 1px 8px;
   background-color: #000;
   color: #fff;
   font-size: 12px;
   border-radius: 3px;
   top: -28px;
   right: -20px;
   animation: showText 0.5s 1s linear forwards;
   opacity: 0;

}

.progress-line #html span::after {
    content: "90%";
}

.progress-line .css span::after {
    content: "60%";
}

.progress-line .Javascript span::after {
    content: "85%";
}

.progress-line .React span::after {
    content: "50%";
}

.progress-line .Node-js span::after{
    content: "75%";
}
.progress-line span::before{
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
   margin-bottom: 35px;
  position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: -9%;
    left: 28%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 187px;
    height: 188px;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes  animate-bar {
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{
    animation: animate-path1 1s 1s linear forwards;
}
.path-2{
    animation: animate-path2 1s 1s linear forwards;
}
.path-3{
    animation: animate-path3 1s 1s linear forwards;
}
.path-4{
    animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1 {
    100%{
        stroke-dashoffset: 50;
    }
}
@keyframes animate-path2 {
    100%{
        stroke-dashoffset: 175;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4 {
    100%{
        stroke-dashoffset: 75;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: -11%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 30%;
    bottom: 82px;
    transform: translate(-50%);
}

.grid{
    margin-left:40px ;
    /* padding-top: 130px; */
    margin-top: 100px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3,1fr);

}

.main-text h2{
    padding-top: 8rem;
    font-size: 3rem;
    line-height: 1;
    text-align: center;
}
.main-text h2 span{
    color: #0ef;
}
.portfolio-content{
   width: 200%;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.layer{
    width: 54%;
    height: 0;
    background-color: linear-gradient(rgba(0,0,0,0.1)#0ef);
    position: absolute;
    border-radius: 8px;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 0 40px; */
    transition: height 0.5s;
}
.row img{
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layer h5{
    color: #000;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 0.8rem;
    line-height: 1.5;
}
.layer i{
    color:red;
    margin-top: 15px;
    font-size: 50px;
    /* background-color: #fff; */
    width: 24%;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
   height: 100%;
  
}

.content-text{
    margin-top: 150px;
    padding-left: 30px;
    display: grid;
    align-items: center;
   grid-template-columns: repeat(2,1fr);
   flex-direction: column;
    gap:3rem;
}
.contact-team{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contect-list{
    list-style: none;
}
.contact-team h2{
    position: relative;
    left: 40%;
    bottom: 20px;
    align-items: center;
    line-height: 1;
    font-size: 40px;
    
}
.contact-team h2 span{
    color: #0ef;
}
.contact-team h4{
    font-size: 150%;
}

.contect-list li{
    display: block;
    
}
.contect-list i{
    display: inline;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    gap: 0.8rem;
    transition: all .40s ease;
}
.contect-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-form form{
    position: relative;
    color: #000;
}
.contact-form form input{
    color: #000;
}
.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 15px;
    background-color: #444447;
    color: #000 !important;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.fa-solid, .fas {
    font-weight: 900;
}
.contact-form .send{
    display: inline-block;
    padding: 12px 25px;
    background: #0ef;
    border-radius: 40px;
    font-size: 20px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideleft  1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.contact-form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 22px cyan,
     0 0 40px cyan,
     0 0 80px cyan,
      0 0 150px cyan;
}
.last-text p{
    width: 500%;
    display: flex;
    text-align: center;
    padding: 10px 0;
    background: rgb(7,85,91 );
    font-weight: 100;
    margin-top: 70px;
    justify-content: center;
    position: relative;
    right: 80px;
    
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
   
}
.top i{
    color: #000 !important;
    background-color: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
@keyframes slideRight {
    
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideleft{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slidebottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
